<div class="methodology">
    <h1 class="methodology-subtitle">About the data</h1>

    <div class="methodology-definitions">
        <h2>Definitions</h2>
        <ul>
            <li>
                <span class="concept">xxx</span>: <span class="definition">xxx</span>
            </li>
            <li>
                <span class="concept">xxx</span>: <span class="definition">xxx</span>
            </li>
            <ul>
    </div>
    <div class="methodology-availability">
        <ul>
            <li>
                <span class="concept">xxx</span>: <span class="availability">xxx</span>
            </li>
            <li>
                <span class="concept">xxx</span>: <span class="availability">xxx</span>
            </li>
    </div>
</div>